@{
	ViewData["Title"] = "Home Page Hello";
	ViewData["SubTitle"] = "Home Page";
	var subtitle = "asd";
}

<h1>@ViewData["Title"]</h1>
<h2>@subtitle</h2>

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>