@using System.Globalization
@model Lesson04.HttpModels.Product[]

@{
	ViewData["Title"] = "Products";
}

<h2>@ViewData["Title"]</h2>

@foreach (var product in Model)
{
	<div>@product.Name: @product.Price.ToString("C2", new CultureInfo("ru-RU"))</div>
}