@page "/LogIn"
@using Lesson14.Models.Requests
@using Blazored.LocalStorage
@inherits AppComponentBase

@inject NavigationManager NavigationManager;

<h3>Вход</h3>
<EditForm Model="_request" OnValidSubmit="ValidSubmit">
	<DataAnnotationsValidator />
	Email: <InputText @bind-Value="_request.Email" class="text-black"></InputText> <br/>
	Пароль: <InputText type="password" @bind-Value="_request.Password" class="text-black"></InputText> <br/>
	<ValidationSummary />
	<input type="submit" value="Войти">
</EditForm>

@code {
	private readonly LogInRequest _request = new();

	private void OnClick()
	{
		throw new Exception("OnClick");
	}

	private async Task ValidSubmit()
	{
		var response = await ShopClient.LogIn(_request);
		await LocalStorage.SetItemAsStringAsync("token", response.Token);
		NavigationManager.NavigateTo("Account");
	}

}