@{
	ViewBag.Title = "Создание новой категории";
	Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form method="post">
	Id: <input type="text" name="id" value="" required/>
	<br/>
	Имя: <input type="text" name="name" value="" required/>
	<br/>
	<input type="submit" value="Создать"/>
</form>