@using System.Globalization
@model IReadOnlyCollection<Lesson4_HttpModels.Product>

@{
	ViewBag.Title = "Products";
	Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@foreach (var product in Model)
{
	<div>@product.Name: @product.Price.ToString("C2", new CultureInfo("ru-RU"))</div>
}